@*@using Microsoft.AspNetCore.Http*@
@model TicketManagementSystem.Core.ViewModels.AddTicketViewModel
@{
    //var userId = userManager.GetUserId(User);
    //var loggedInUser = await userManager.GetUserAsync(User);
    //var = new List<IFormFile>(3);
    ViewData["Title"] = "Add Ticket";
  
}

<h1>Add Ticket</h1>

<h4>Ticket</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddTicket" enctype="multipart/form-data" method="post">
            @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
            <div class="form-group">
                <label asp-for="Ticket.Title" class="control-label"></label>
                <input asp-for="Ticket.Title" class="form-control" />
                <span asp-validation-for="Ticket.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Problem" class="control-label"></label>
                <textarea asp-for="Ticket.Problem" class="form-control"></textarea>
                <span asp-validation-for="Ticket.Problem" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.Project" class="control-label"></label>
                <select asp-for="Ticket.ProjectId" class="form-control" asp-items="ViewBag.ProjectId">
                    @*(IEnumerable<SelectListItem>)loggedInUserProjects*@
                    <option value="">Select Project</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Ticket.CustomerPriority" class="control-label">Priority</label>
                <select asp-for="Ticket.CustomerPriority" asp-items="Html.GetEnumSelectList<Priority>()" class="form-control">
                    <option value="">Select Priority</option>
                </select>
                <span asp-validation-for="Ticket.CustomerPriority" class="text-danger"></span>
            </div>

            @for (int i = 0; i < 3; i++)
            {
                <div class="form-group row">
                    <label asp-for="File[i]" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <div class="custom-file">
                            <input asp-for="File[i]" class="form-control custom-file-input">
                            <label class="custom-file-label">Choose File...</label>
                        </div>
                    </div>
                </div>

            }







            <div class="form-group" align="center">
                <input name="submit" type="submit" id="submit" value="Save as Draft" class="btn btn-primary" />
                <input name="submit" type="submit" id="submit" value="Submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
