
@{
    ViewData["Title"] = "EmailSent";
}

<h1>Email Sent</h1>
<p>
    <h6 style="color:forestgreen"><br />Thank you for submitting the ticket. 
        <br />Email sent to project developers and they will get back to you after reviewing the ticket.<br /><br />
    </h6>
</p>

<div>
    <a asp-action="Index">Back to List</a>
</div>

