@model IEnumerable<TicketManagementSystem.Core.Models.Comment>

<table class="table">
    <tbody>
        @foreach (var item in Model.OrderByDescending(i => i.Id))
        {
            <tr class="row">
                <td class="col-sm-2 font-weight-lighter small border active ml-1">
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FullName)
                    <br/> 
                    @Html.DisplayFor(modelItem => item.CommentTime)
                </td>
                <td class="col-sm-8 border active">
                    @Html.DisplayFor(modelItem => item.CommentText)
                </td>
            </tr>
        }
    </tbody>
</table>
